#exampleFormControlTextarea1 {
  font-size: large;
  font-size: 100px;
}

.form-control {
  font-size: 30px;
}

#btn5{
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(0, 0, 0);
  border: 1px solid white
}
#btn {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
}
#btn4{
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(0, 0, 0);
  border: 1px solid white
}
#btn2 {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(186, 59, 59);
  border: 1px solid white
}

#btn2:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

#btn3 {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #212529;
  border: 1px solid white
}

#btn2:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

.para {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

.txtsum {
  font-size: 20px;
  font-weight: 600;
}

.words {
  font-weight: 590;
}

.continer {
  margin-left: 13px;
}

.container-btn-head {
  display: flex;

}
.dark{
  margin: 10px;
}
#light{
  background-color: rgba(247, 247, 247, 0.373);
}
.navcont{
  background-color: #212529;
}

.popup{
  display:flex;
  justify-content: center;
  align-items: center;

}
.app-container.dark-mode {
  background-color: #242422;
  color: white;
}

body {
  /* Light mode styles */
  background-color: #ffffff; /* White */
  color: #343a40; /* Dark gray */
}

.app-container.dark-mode body {
  /* Dark mode styles */
  background-color: #343a40; /* Dark gray */
  color: #ffffff; /* White */
}

/* Additional styles for dark mode */
.app-container.dark-mode .navbar {
  background-color: #343a40; /* Dark gray */
  color: #ffffff; /* White */
}

.app-container.dark-mode .textarea-container {
  background-color: #343a40; /* Dark gray */
  color: #ffffff; /* White */
}

/* Add other element styles as needed */
#emailHelp{
  color: red;

}
.nav-link{
  font-weight: 500;
  font-size: 17px;
  /* color: aliceblue; */
}
.formCont{
  height: 89vh;
  /* display: flex; */
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}